.Sidebar {
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}

.Sidebar--open {
  transform: translateX(0);
}

.is-selected {
  background-color: #e0f7fa;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
